body{
    background-color: #f8f9fd;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    background:linear-gradient(135deg, grey 0%, rgba(84, 110, 122, 0.1));
   background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    
    padding: 4.8em 0;
}
.lgn-cnt{
    height: 439px;
    border-radius:3%; 
}
.error{
    height:523px;
}
.lgn-tlt{
    margin-top: 20px;
    padding-bottom: 80px;
    margin-left: 0!important;
    text-align: center;
    font-size: xx-large;
}
.form-side{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    background-color:white;
    height: 100%;
    border-radius:  3% 0 0 3% ;
}
.btn{
    width: 100%;
}
.clr-btn{
    background: linear-gradient(135deg, grey 0%, #546e7a 100%);
    border: 1px solid white;
}

.fgt-pss{
    display: flex;
}
.fgt-pss a{
    margin-left: auto;
    color: grey;
    text-decoration: none;
    padding-top: 2px;
}
.img-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url('../img/sign.jpg');
        
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 3% 3% 0;
   
}
h3,h5,button{
    margin:30px auto;
}
.text-danger{
    color:red;
    text-align:center;
    font-size: larger;
}
.alert{
    padding-top: 20px;
}

/*checked color */
[type="checkbox"].filled-in:checked+span:not(.lever):after{
    background: linear-gradient(135deg, grey 0%, #546e7a 100%);
    border: 1px solid white;
    content: '';
}
  /* label focus color */
  .input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #546e7a !important;
   }

/* label underline focus color */
   .input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #546e7a !important;
    box-shadow: 0 1px 0 0 grey !important;
   }