html,body{
    height: 100%;
}
.nav{
    position: fixed;
}
.main{
    background-image:url('../img/bg.jpg');
    background-attachment:fixed;
     background-repeat: no-repeat;
     background-size: cover;
    min-height: 100%;
}
.post{
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 25px;
}
.search{
    cursor: pointer;
}
.search:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.hide{
    display: none;
}
.dis{
    background-color: white;
    transition:  all 0.5s;
}

.article{
    display: flex;
    width: 100%;
    flex:0 1;
    justify-content:space-between;
    margin-top: 35px;
}
.article_image{
    display: flex;
    align-items: flex-start;
    width: 33%;
}
.img{
    min-width: 100%;
    flex-shrink: 0 1;
    
}
.article_contenu{
    width: 66%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.article_date{
    font-size: 10px;
    color: #9f9f9f;
}
.atricle_titre{
    font-size: 16px;
    font-weight: bolder;
}
.article_text{
   height: 70%;
   font-size: 13px;
}

/***********************************************************************/

/*
.sidebar{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fbfbfb;
    width: 20%;
    position: relative;
    z-index: 1;
    text-align: center;
    min-height:100%!important;
    
}
.sidebar_contenu{
    display: grid;
    grid-template-rows: repeat(6,36px);
    grid-gap: 5px;
   /* width: 99%;
    height: 29%; 
}*/
.text-danger{
    color:red;
    text-align:center;
    font-size: larger;
}
.alert{
    padding-top: 20px;
}
.active{
    color: blue;
}

/*.s-1{
    position: relative;
    margin-top: 5%;
}
.s-2{
    position: relative;
    top: 15px;
}*/
.sidebar_separateur{
    width: 100%;
    color: #c4c4c4;
    border: 0.2px solid;
    margin-top: 2em;
   /* position: relative;
    top: 15px;*/
}
/*.sidebar_contenu_titre{
    font-size: 24px;
}
.sidebar_contenu_lien{
    text-decoration: none;
    font-size: 12px;
    color: #9f9f9f;
    display: inline-block;
}*/
